
.logo{
  width: 60px;
  height: 60px;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}

/* left align navlinks */

.navbar-nav{
margin-left: auto;
padding-bottom:  0;
}

.nav-item{
  margin-right:  auto;
}
.main-line{
  font-size: 3.5rem;
}

li{
  padding-left: 10px;
  padding-right: 10px;
}

.logoname{
   margin: 0;
   vertical-align:middle;
}

.navbar-div{
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  background-color:#FCECDD;
  padding-bottom: 0;

}
.navbar-toggler-icon {
  width: 3rem;     height: 3rem;
}




.flex-container{
  background-color: #FCECDD;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

.main-img{
  width: 54vw;
  display: flex;
 margin-top: 70px;
  

}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
  .navbar-brand{
  font-size:4rem;
  }
  .logo{
  width:70px;
    height: 70px;
  }
  
  .tagline-box{
  margin-right: 70px;
    padding-left:0;
    text-align:center;
    margin-top:200px;
  
  }
}

.navbar-brand{
  margin:0;
  font-size:3rem;
  
}
@media (max-width: 1000px) {
  .nav-item{
    font-size: 2.2rem;
  }
}
@media (max-width: 1000px){
  .main-img{
    border-right: 0;
    border-left: 0;
    width:1000px;
    padding:10px;
  }
}

.btn{
  border-radius: 25px;
  font-size: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}
.tagline-box{
  margin-left: 70px;
  padding-top: 70px;
  text-align:center;
  
}
@media(min-width:1000px){
  .tagline-box{
  padding-left:86px;
  }
}
li.btn.btn-outline-warning{
font-size:1.5rem;
  border-radius:10px;
  border : none;

}

.notes-lecture-container{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
.subject-box{

padding:20px;
width:340px;
height: auto;
border: 2px solid;
border-radius: 30px;
margin: 30px;



}

.subject-img{
  width: 60px;
  margin-bottom: 30px;
  


}
.subject-code{
  font-size: 2rem;
}
.subject-name{
font-size: 2.25rem;
margin-bottom: 40px;
}


.sc{
  font-size: 1.25rem;
}
.head1{
  padding-left: 86px;
  padding-top: 100px;
}
.cover{
  padding-left: 86px;
  padding-right: 86px;
}

@media(max-width:1000px){
  .sc{
    display:block;
    width:100%;
    margin-top:20px;
    font-size:1.4rem;
  }
}


/* section2 */


.time-img{
  width: 500px;

}
.container2{
  padding: 86px;
}
.container2{
  display: flex;

  background-color: #F6EEE3;
}


}
.timetext{

  width: 100%;
  margin-left: 50px;
}
.time-text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  margin-top: auto;

}
.quotes{
  font-size: 2.6rem;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;


}

@media (max-width: 1000px) {
  .container2{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .time-img{
  width: 600px;


  }
}
.t2{
  margin-top: 20px;

}
.ism{
  width: 200px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding-right: 100px;

  padding-left:100px;



}
.weblinks{
color: black;
align-self: center;
}

.container3{
  display: flex;
  align-items:stretch;
  align-content: center;

  justify-content: center;
  margin-bottom: 10px;

}
.cover3{
  padding-left: 86px;
  padding-top: 100px;
}

.head3{

}
.webimg{
  width: 150px;
  align-self: center;
  margin-bottom: 30px;
}
.weblinks{
  text-align: center;
}

#content3 h3 {
  font-size: 1.4rem;
}


.footer{
  background-color:#FCECDD;
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 3;
}
