
.logo{
  width: 90px;


}
/* left align navlinks */
.navbar-nav{
margin-left: auto;
padding-bottom:  0;

}
.nav-items{
  margin-right:  auto;
}
li{
  padding-left: 10px;
  padding-right: 10px;
}
.logoname{
   font-size: 30px;
   padding-bottom: inherit;
}
.navbar-div{
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  background-color:#FCECDD;
  padding-bottom: 0;


}
.flex-container{
  background-color: #FCECDD;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  

}
.main-img{
  width: 800px;
  display: flex;
 margin-top: 70px;

}
@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
}.navbar-brand{
  margin:0;
}
