iframe{
  margin-top: 100px;
  z-index: -9;
  padding:70px;
  height:100vw;
}
.navbar-div{
  z-index: 10;
}
.footer{

  width:100vw;
  display: none;
}
#flip-contents{
  zoom : 2;
}
crosspilot{
zoom:2;
}
iframe {
    width: 55% !important;
    height: 100vw !important;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    overflow-y: visible;
}

@media (min-width:1000px) {
  .footer{
    display: fixed;
    bottom: 0;
  }
}
