iframe{
  margin-top: 100px;
  z-index: -9;
  padding:70px;
  height:100vw;
}
.navbar-div{
  z-index: 10;
}
.footer{
  position:fixed;
  bottom:0px;
  width:100vw;
}
#flip-contents{
  zoom : 2;
}
crosspilot{
zoom:2;
}
iframe {
    width: 76.92% !important;
    height: 76.92% !important;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
